LOCAL_GOPATH="$(cd "$(dirname "${BASH_SOURCE[0]}")" && pwd)"

export GOPATH="$LOCAL_GOPATH"
PATH_add "${LOCAL_GOPATH}/bin"

# needed for some tests, e.g. kubeadm
export KUBE_ROOT="${GOPATH}/src/k8s.io/kubernetes"

# add hack/third_party to the path
PATH_add "${KUBE_ROOT}/third_party/etcd"

eval `gimme 1.11.2`
